.banner_img{
    min-height: 600px;
    padding-top: 75px;
padding-bottom: 50px;
text-align: center;
color: #f8f8f8;
background: url(img/intro-bg_1.jpg) no-repeat center center;
background-size: cover;
}
.banner_content{
    position: relative;
padding-top: 6%;
padding-bottom: 6%;
margin-top: 12%;
margin-bottom: 12%;
background-color: rgba(0, 0, 0, 0.7);
max-width: 660px;
}
footer{
    
 padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;
}

form{
    margin-top: 30px;
    min-height: 550px;
}
table{
    min-height: 550px;
    border: 1px solid;
    width: 80%;
}
th,td{
    text-align: center;
    border: 1px solid #a4a4a4;
    height: 30px;
    padding: 15px;
}
#uh{
    text-align: center;
    padding-top: 100px;
}